<footer class="footer bg-primary text-light pt-4 pt-md-5 pb-45">
  <div class="container">
    <div class="d-flex mb-4">
      <div class="me-auto">
        <div class="d-none d-md-block">
          <ul class="nav mb-3">
            <li><a class="nav-link link-light ps-0" href="#">首頁</a></li>
            <li><a class="nav-link link-light" href="#">系列鏡框</a></li>
            <li><a class="nav-link link-light" href="#">門市據點</a></li>
            <li><a class="nav-link link-light" href="#">部落格</a></li>
            <li><a class="nav-link link-light" href="#">常見問題</a></li>
          </ul>
        </div>
        <ul class="contact ps-0">
          <li class="d-flex align-items-center mb-2 fs-6 fs-md-36">
            <a class="link-light text-decoration-none" href="tel:0800-000-000">
              <span
                class="contact-item material-symbols-outlined fs-6 fs-md-36 me-2 me-md-3"
              >
                call
              </span>
              0800-000-000</a
            >
          </li>
          <li class="d-flex align-items-center mb-2 fs-6 fs-md-36">
            <a class="link-light text-decoration-none" href="tel:0800-000-000">
              <span
                class="contact-item material-symbols-outlined fs-6 fs-md-36 me-2 me-md-3"
              >
                mail
              </span>
              glasses@business.com</a
            >
          </li>
        </ul>
      </div>
      <div>
        <ul class="nav social-links d-flex flex-nowrap">
          <li>
            <a class="nav-link link-light p-0 me-3 me-xs-45" href="#">
              <img
                src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/ic-social-fb.png"
                alt="白色的 Facebook icon"
                class="img-fluid d-none d-md-block"
                width="48"
                height="48"
              />
              <img
                src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/ic-social-fb.png"
                alt="白色的 Facebook icon"
                class="img-fluid d-block d-md-none"
                width="24"
                height="24"
              />
            </a>
          </li>
          <li>
            <a class="nav-link link-light p-0 me-3 me-xs-45" href="#"
              ><img
                src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/ic_social_ig.png"
                alt="白色的 Instagram icon"
                class="img-fluid d-none d-md-block"
                width="48"
                height="48" />
              <img
                src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/ic_social_ig.png"
                alt="白色的 Instagram icon"
                class="img-fluid d-block d-md-none"
                width="24"
                height="24"
            /></a>
          </li>
          <li>
            <a class="nav-link link-light p-0" href="#"
              ><img
                src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/ic_social_line.png"
                alt="白色的 Line icon"
                class="img-fluid d-none d-md-block"
                width="48"
                height="48" />
              <img
                src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/ic_social_line.png"
                alt="白色的 Line icon"
                class="img-fluid d-block d-md-none"
                width="24"
                height="24"
            /></a>
          </li>
        </ul>
      </div>
    </div>
    <div>
      <hr class="text-white mt-0 mb-45" />
    </div>
    <div
      class="d-flex justify-content-between align-items-star align-items-md-center flex-column flex-md-row"
    >
      <p class="mb-2 mb-md-0">Copyright © 2020 Glasses.All rights reserved.</p>
      <ul class="list-unstyled fs-18 d-flex flex-column flex-md-row">
        <li>
          <a
            class="text-decoration-none link-light me-0 me-md-5 mb-2 mb-md-0"
            href="#"
            >隱私權政策</a
          >
        </li>
        <li>
          <a class="text-decoration-none link-light mb-2 mb-md-0" href="#"
            >服務條款</a
          >
        </li>
      </ul>
    </div>
  </div>
</footer>
