<nav class="bg-primary">
  <div class="container">
    <div class="d-flex flex-nowrap justify-content-between align-items-center">
      <a href="index.html">
        <img
          src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/logo-white.png"
          alt="白色眼鏡 icon"
          class="img-fluid my-35"
          width="80"
          height="49"
        />
      </a>
      <div class="d-none d-md-block">
        <ul class="d-flex list-unstyled mb-0 fs-5">
          <li>
            <a
              class="text-decoration-none link-light me-7"
              href="products-optical.html"
              >系列鏡框</a
            >
          </li>
          <li>
            <a class="text-decoration-none link-light me-7" href="#"
              >門市據點</a
            >
          </li>
          <li>
            <a class="text-decoration-none link-light me-7" href="#">部落格</a>
          </li>
          <li>
            <a class="text-decoration-none link-light" href="#">常見問題</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="d-block d-md-none">
    <ul class="row list-unstyled fs-5 g-0 mb-0">
      <li class="col-6">
        <a
          class="d-block text-decoration-none link-light me-7 w-100 text-center nav-links-sm border"
          href="products-optical.html"
          >系列鏡框</a
        >
      </li>
      <li class="col-6">
        <a
          class="d-block text-decoration-none link-light me-7 w-100 text-center nav-links-sm border"
          href="#"
          >門市據點</a
        >
      </li>
      <li class="col-6">
        <a
          class="d-block text-decoration-none link-light me-7 w-100 text-center nav-links-sm border"
          href="#"
          >部落格</a
        >
      </li>
      <li class="col-6">
        <a
          class="d-block text-decoration-none link-light w-100 text-center nav-links-sm border"
          href="#"
          >常見問題</a
        >
      </li>
    </ul>
  </div>
</nav>
